INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
missing
depcomp
doc/html
doc/latex
ltmain.sh
libtool
stamp-h1
*.pc
*.o
*.lo
*.la
*.swp
*.trs
*.log
.deps
.libs
test-driver
test/test-load
test/test-tablet-svg-validity
test/test-dbverify
test/test-deprecated
test/test-tablet-validity
test/test-stylus-validity
test/test-soname
tools/show-svg-image
tools/generate-udev-rules
tools/libwacom-list-local-devices
tools/list-devices
tools/list-compatible-styli
doc/doxygen.conf
