INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
missing
depcomp
doc/html
doc/latex
ltmain.sh
libtool
stamp-h1
*.pc
*.o
*.lo
*.la
*.swp
.deps
.libs
test-driver
test/load
test/tablet-svg-validity
test/dbverify
test/tablet-validity
tools/show-svg-image
tools/generate-udev-rules
tools/libwacom-list-local-devices
tools/list-devices
doc/doxygen.conf
